<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a1anwang.ai_master">

     
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--百度的sdk需要下面这句话，不然报网络错误-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TTSActivity">

        </activity>
        <activity android:name=".activity.WakeupActivity">

        </activity>
        <activity android:name=".activity.AIActivity">

        </activity>
    </application>

</manifest>